server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: Users Service
        url: /users/v3/api-docs
      - name: Orders Service
        url: /orders/v3/api-docs

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true


spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: ${JWT_SECRET}

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth
              uri: http://users-service:8081
              predicates:
                - Path=/api/auth/**

            # OpenAPI users
            - id: users-openapi
              uri: http://users-service:8081
              predicates:
                - Path=/users/v3/api-docs
              filters:
                - SetPath=/v3/api-docs

            - id: users-service
              uri: http://users-service:8081
              predicates:
                - Path=/users,/users/**
              filters:
                - PrefixPath=/api

            # OpenAPI orders
            - id: orders-openapi
              uri: http://orders-service:8082
              predicates:
                - Path=/orders/v3/api-docs
              filters:
                - SetPath=/v3/api-docs

            - id: orders-service
              uri: http://orders-service:8082
              predicates:
                - Path=/orders/**
              filters:
                - RewritePath=/orders/users/(?<segment>.*), /api/orders/users/${segment}

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders:
              - Authorization
              - Content-Type
            exposedHeaders:
              - Authorization
            allowCredentials: true
